<!DOCTYPE html>
{%load static%}
<html>
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="{%static '/css/base.css/'%}">
<script src="https://kit.fontawesome.com/d20a973568.js" crossorigin="anonymous"></script>
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
</head>
<body class="" style="
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



">
  <nav class="navbar navbar-expand-lg shadow sticky-top" id="navBar">
    <div class="container-fluid"  >
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house fa-2x text-white"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-5 ms-5" href="#">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-5 ms-5" href="#">Other Profiles</a>
          </li>
          
        </ul>
          <ul class="nav navbar-nav ms-auto">
            <li><a href="" class="btn btn-outline-danger">Logout</a></li>
          </ul>
         
        
      </div>
    </div>
  </nav>



<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px; ">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-white shadow" style="border-radius: 20px; ">
        <div class="w3-container">
         <h4 class="w3-center mt-5">{{request.user | upper}}</h4>
        
         <p class="w3-center">
          {%if request.user.profile%}
         
          <img src="{{request.user.profile.profile_pic.url}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
          {%else%}
          <img src="{%static 'images/avatar3.png'%}" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
          {%endif%}
        </p>


         <hr>
         {%if request.user.profile%}
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{request.user.profile.bio}}</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>{{request.user.profile.address}}</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>{{request.user.profile.dob | date:"D d M Y"}}</p>
         {%endif%}

        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      
        <div class="" >
          <a  class="w3-button w3-block w3-theme-l1 w3-left-align shadow" style="border-radius: 20px;" href="{%url 'profile-detail' request.user.profile.id%}" ><i class="fa-solid fa-user w3-margin-right"></i>My Profile</a>
          <a href="{%url 'profile-list' %}" onclick="myFunction('Demo2')" style="border-radius: 20px;" class="w3-button w3-block w3-theme-l1 w3-left-align mt-2 shadow"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Profiles</a>
          
          
         </div>     
      
      <br>
      
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small" style="border-radius: 20px; padding: 20px;" >
        <div class="w3-container" >
          <p>Interests</p>
          <p >
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">News</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">W3Schools</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">W3Schools</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">W3Schools</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">Labels</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">Games</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">Friends</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">Games</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">Friends</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">Food</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">Design</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">Art</span>&nbsp;
            <span class="w3-tag w3-medium w3-theme-d5 rounded mt-2">Photos</span>&nbsp;
          </p>
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7 shadow ">
      <div class="w3-row-padding">
        <div class="w3-col m12" >
          <div class="w3-card w3-round w3-white"  style="border-radius: 20px; padding: 20px;">
            <div class="w3-container w3-padding">
              <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <input type="text" name="title" class="w3-border w3-padding form-control" style="border-radius: 20px;">
                <input type="file" name="image" class="form-control mt-3" style="border-radius: 20px;">
                <button type="submit" class="w3-button w3-theme mt-3" style="border-radius: 20px;"><i class="fa fa-pencil"></i>Post</button> 

              </form>
              
              
              
            </div>
          </div>
        </div>
      </div>
      <!-- main loops for posting all posts -->

      {%for post in posts%}
      <div class="w3-container w3-card w3-white w3-round w3-margin " style="border-radius: 20px;"><br>
        {%if request.user == post.user%}
        <a href="{%url 'post-remove' post.id%}">Remove Post</a>
        {%endif%}
      {%if request.user.profile.profile_pic%}
        <div>
          <img src="{{post.user.profile.profile_pic.url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px; ">
        </div>
        {%endif%}
        <span class="w3-right w3-opacity">{{post.created_date}}</span>
        <a href="{%url 'profile-detail' post.id%}" style="text-decoration: none;" class="text-black">
          <h4>{{post.user}}</h4>
        </a>
        <br>
        <hr class="w3-clear">
        <p>{{post.title}}</p>
          <div class="w3-row-padding" style="margin:0 -16px; ">
            {%if post.image%}
            <div class="w3-half">
              <img src="{{post.image.url}}" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
            {%endif%}
            
        </div>
        
        <a href="{%url 'add-like' post.id%}" type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like <span class="w3-badge w3-right w3-small w3-green">{{post.liked_by.all | length}}</span> </a> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment <span class="w3-badge w3-right w3-small w3-green">{{post.post_comment.all | length}}</span> </button> 

        <!-- add comment section -->
        <form action="{%url 'add-comment' post.id%}" method="post">
          {%csrf_token%}
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><img src="{{post.user.profile.profile_pic.url}}" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px;" alt=""></span>
            <input type="text" class="form-control" placeholder="add comment here" aria-label="Recipient's username" aria-describedby="button-addon2" name="comment">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
          </div>
        </form>
        <!-- end comment section -->
        <!-- listing comments -->
        {%for c in post.post_comment.all%}
        <div class="card p-3">

          <div class="d-flex justify-content-between align-items-center">

        <div class="user d-flex flex-row align-items-center">
          {%if c.user.profile.profile_pic%}
          <img src="{{post.user.profile.profile_pic.url}}" style="width:30px; height: 30px;"  class="user-img rounded-circle mr-2">
          {%endif%}

          
          <span><small class="font-weight-bold text-primary ms-1">{{c.user}}</small> <small class="font-weight-bold ms-3">{{c.comment_text}}</small></span>
            
        </div>


        <small>{{c.created_date}}</small>

        </div>


        <div class="action d-flex justify-content-between mt-2 align-items-center">

          <div class="reply px-4">
              {%if request.user == c.user%}
              <small><a href="{%url 'removecomment' c.id%}">Remove</a></small>
              {%endif%}
              <span class="dots"></span>
            
             
          </div>

          <div class="icons align-items-center">

              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-check-circle-o check-icon"></i>
              
          </div>
            
        </div>


          
      </div>
        {%endfor%}
      </div>
      {%endfor%}
      
     
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;">
          <p><strong>Holiday</strong></p>
          <p>Friday 15:00</p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
      <br>
      {%for pro in request.user.profile.friend_requests%}
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
         
          <p>Friend Requests</p>
          {%if pro.profile_pic%}
          <img src="{{pro.profile_pic.url}}" alt="Avatar" style="width:50%"><br>
          {%endif%}
          <span>{{pro.user}}</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"><a href="{%url 'follow' pro.id%}"></a></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
</body>
</html>